.portfolio-item {
    margin-bottom: 30px;
  }

  .etheme{
    text-align: center !important;
  }

  .headerhit{
      height: 200px;
  }
  .createlabel{
    color: #0f468d;
    font-size: 120%;
  }

  .boxpad{
    margin-right: 15px;
    margin-left: 15px;
  }

  .custom-nav{
    background-color:#8b8b8b!important;
    color: #0f468d!important;
  }


  /* jkjkjj */

  

